
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/********************* Backgroud Color ************************/

.page-home, .page-login, .page-error {
    background-color: #203464;
}

/*************************** Home *****************************/

/*************************** Login ****************************/

.main-container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #203464;
}

.login-side-left {
    width: 375px;
    height: 425px;
    background-color: #4d4646;
}

.login-side-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 425px;
    background-color: #FFFFFF;
}

.login-form{
    width: 75%;
    height: 50%;
}

.login-label {
    margin-top: 10px;
}

.login-input {
    padding: 10px; 
}

.login-submit {
    border-radius: 10px;
    margin-top: 20px;
    color: #FFFFFF;
    background-color: #203464;
}

.login-label, .login-input, .login-submit {
    display: block;
    width: 100%;
    height: 15%;
}

/************************** Error Pages ***********************/

.main-container-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: #FFFFFF;
    background-color: #203464;
}

.sub-container-01-error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 225px;
}

.image-error {
    width: 100%;
}

.sub-container-02-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 350px;
    height: 150px;
}

.sub-container-02-error h2{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0px;
}

/************************* Media query ************************/

@media (max-width: 750px) {
    .login-side-left {
        display: none;
    }
}

/**************************************************************/